extends layout

block content
  h1 Sequential log view

  table.table.table-striped.table-bordered.table-hover
    thead
      tr

        th Hash
        th Date
        th Branch
        th Author
        th Comment
        th Parents
    tbody
      each commit in repo.commits
        tr
          td= commit.hash
          td= commit.date
          td= commit.branch.name
          td= commit.author.name
          td= commit.comment
          td
            each parent in commit.parents
              p #{parent.hash} (#{parent.branch.name})
